{% load static %}

<html>
    <head>
        <title>bakery</title>
        <style>
            body{
                background-image: url("../../static/img/bake10.png");
                background-repeat : no-repeat;
                background-size : cover;
            }
        </style>
    </head>
    <body>
        <div style="text-align:center">
            <h1>대전대 근처 빵집</h1>
        </div>
        <input type="button" value="판암동" onclick="location.href='post_list.html'">
        <input type="button" value="가양동" onclick="location.href='post_list.html'">
        <input type="button" value="용운동" onclick="location.href='post_list.html'">
    </body>
</html>